* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style: none;
}

:root {
  --header_footer: #736049;
  --page: #D9C589;
  --page_not_selected: #A68241;
  --aside: #A69581;
  --text: black;
}

/*-------------------------------- Header --------------------------------*/

/*----------- General -----------*/

header {
  background-color: var(--header_footer);
  top: 0;
  width: 100%;
  z-index: 999;
}

/*----------- Desktop -----------*/

#desktop_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
}

#desktop_header h1 {
  margin-bottom: 56px;
  color: whitesmoke;
}

#desktop_header nav {
  width: 100%;
}

#desktop_header nav ul {
  display: flex;
  justify-content: space-evenly;
}

.nav_tab {
  display: block;
  background-color: var(--page_not_selected);
  font-size: larger;
  color: black;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 20px 20px 0 0;
}

#desktop_header nav ul li a.active {
  background-color: var(--page);
}

/*----------- Mobile -----------*/

#mobile_header {
  display: none;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 45px;
}

#open_button {
  font-size: 42px;
  color: whitesmoke;
}

#close_button {
  position: absolute;
  color: whitesmoke;
  top: 12px;
  right: 45px;
  font-size: 60px;
}

#mobile_overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(77, 77, 77, 0.97);
  overflow-x: hidden;
  transition: 0.5s;
}

#mobile_overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: whitesmoke;
  display: block;
}

#overlay_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 20%;
  text-align: center;
}

/*-------------------------------- Pages --------------------------------*/
/*------------------- General -------------------*/
/*----------- Aside -----------*/
aside {
  position: fixed;
  top: 184px;
  left: 0;
  background-color: var(--aside);
  color: black;
  padding: 10px;
}

aside div {
  margin-left: 30px;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

aside ul li a {
  color: black;
  text-decoration: none;
  font-size: xx-large;
}

/*----------- Main -----------*/
main {
  background-color: var(--page);
  min-height: calc(100vh - 184px);
  padding: 20px 20px 0 265px;
}

main article {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*-------------------------------- Footer --------------------------------*/
footer {
  display: flex;
  background-color: var(--header_footer);
  padding: 10px;
  color: white;
  font-size: x-large;
}

/*-------------------------------- Media queries --------------------------------*/
/*-------------- Max 768px width --------------*/
@media screen and (max-width: 768px) {
  header {
    position: fixed;
  }

  main {
    margin-top: 82px;
  }

  #desktop_header {
    display: none;
  }

  #mobile_header {
    display: flex;
  }

  aside {
    display: none;
  }
}